<ditaa>
	<shapes>
		<shape
		      tag="con"
		      stretch="no"
		      shadow="yes"
		      border="no"
		      filename="circle.svg" />

		<shape
		      tag="s"
		      stretch="yes"
		      shadow="yes"
		      border="no"
		      filename="database.svg" />
		
		<shape
			tag="dec"
			stretch="yes"
			shadow="yes"
			border="no"
			filename="decision.svg" />
		
		<shape
		      tag="dis"
		      stretch="yes"
		      shadow="yes"
		      border="no"
		      filename="display.svg" />
		
		<shape
		      tag="io"
		      stretch="yes"
		      shadow="yes"
		      border="no"
		      filename="io.svg" />

		<shape
		      tag="start"
		      stretch="yes"
		      shadow="yes"
		      border="no"
		      filename="start.svg" />

		<shape
		      tag="stop"
		      stretch="yes"
		      shadow="yes"
		      border="no"
		      filename="stop.svg" />

		<shape
		      tag="tape"
		      stretch="yes"
		      shadow="yes"
		      border="no"
		      filename="tape.svg" />
		
	</shapes>
</ditaa>
