# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# build
bin/
build/jar-temp/
build/testclasses/
releases/
tests/images/
tests/images-expected/

# Files copied by mvn's build procedure
tests/text/
tests/build.xml
target/
/.lein-failures
