# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# build
bin/
build/jar-temp/
build/testclasses/
releases/
tests/images/
tests/images-expected/
target/

# pom.xml for ditaa is available at https://gist.github.com/dakusui/c6b7532cbaae0ed7317036c389d761f4
# pom.xml
# Files copied by mvn's build procedure
# tests/text/
# tests/latex/
# tests/build.xml